In [1]:
#Importing the required library and packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
hr = pd.read_csv('HR-Employee-Attrition.csv')
hr.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
#Getting information about the dataset
hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [4]:
#Getting the datatypes of each column in the dataset
hr.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [5]:
# Getting the dimensionality of the datasets.
hr.shape

(1470, 35)

In [6]:
#Statistical description of the dataset
hr.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [7]:
#Getting the dimension of the dataset
hr.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [8]:
#Getting all the missing values in the dataset
hr.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [9]:
#Getting the unique feature of the dataset
hr.nunique()

Age                           43
Attrition                      2
BusinessTravel                 3
DailyRate                    886
Department                     3
DistanceFromHome              29
Education                      5
EducationField                 6
EmployeeCount                  1
EmployeeNumber              1470
EnvironmentSatisfaction        4
Gender                         2
HourlyRate                    71
JobInvolvement                 4
JobLevel                       5
JobRole                        9
JobSatisfaction                4
MaritalStatus                  3
MonthlyIncome               1349
MonthlyRate                 1427
NumCompaniesWorked            10
Over18                         1
OverTime                       2
PercentSalaryHike             15
PerformanceRating              2
RelationshipSatisfaction       4
StandardHours                  1
StockOptionLevel               4
TotalWorkingYears             40
TrainingTimesLastYear          7
WorkLifeBalance                4
YearsAtCompany                37
YearsInCurrentRole            19
YearsSinceLastPromotion       16
YearsWithCurrManager          18
dtype: int64

In [10]:
#Getting the duplicate values for the dataset
hr.duplicated().sum()

0

## CLEANING DATA

In [11]:
#Make copy of the original pieces of data
hr_clean = hr.copy()

In [12]:
# Drop  redundant columns
hr_clean.drop(["DailyRate", "HourlyRate", "JobInvolvement", "JobLevel", "JobSatisfaction","EmployeeNumber", "MonthlyRate", "Over18", "RelationshipSatisfaction", "StandardHours", "StockOptionLevel", "TrainingTimesLastYear", "PerformanceRating"], axis = 1, inplace = True)
hr_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1470 non-null   int64
 1   Attrition                1470 non-null   object
 2   BusinessTravel           1470 non-null   object
 3   Department               1470 non-null   object
 4   DistanceFromHome         1470 non-null   int64
 5   Education                1470 non-null   int64
 6   EducationField           1470 non-null   object
 7   EmployeeCount            1470 non-null   int64
 8   EnvironmentSatisfaction  1470 non-null   int64
 9   Gender                   1470 non-null   object
 10  JobRole                  1470 non-null   object
 11  MaritalStatus            1470 non-null   object
 12  MonthlyIncome            1470 non-null   int64
 13  NumCompaniesWorked       1470 non-null   int64
 14  OverTime                 1470 non-null   object
 15  PercentSalaryHike        1470 non-null   int64
 16  TotalWorkingYears        1470 non-null   int64
 17  WorkLifeBalance          1470 non-null   int64
 18  YearsAtCompany           1470 non-null   int64
 19  YearsInCurrentRole       1470 non-null   int64
 20  YearsSinceLastPromotion  1470 non-null   int64
 21  YearsWithCurrManager     1470 non-null   int64
dtypes: int64(14), object(8)
memory usage: 252.8+ KB

In [13]:
hr['Age'].unique()

array([41, 49, 37, 33, 27, 32, 59, 30, 38, 36, 35, 29, 31, 34, 28, 22, 53,
       24, 21, 42, 44, 46, 39, 43, 50, 26, 48, 55, 45, 56, 23, 51, 40, 54,
       58, 20, 25, 19, 57, 52, 47, 18, 60], dtype=int64)

In [14]:
hr['Department'].unique()

array(['Sales', 'Research & Development', 'Human Resources'], dtype=object)

In [15]:
hr['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [16]:
hr['Gender'].value_counts()

Male      882
Female    588
Name: Gender, dtype: int64

In [17]:
hr['MaritalStatus'].unique()

array(['Single', 'Married', 'Divorced'], dtype=object)

In [18]:
hr['OverTime'].unique()

array(['Yes', 'No'], dtype=object)

In [19]:
hr['BusinessTravel'].unique()

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], dtype=object)

In [20]:
hr['Attrition'].unique()

array(['Yes', 'No'], dtype=object)

In [28]:
hr['Attrition'].value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [36]:
# Assuming 'Yes' and 'No' are in a column named 'Attrition'
hr_clean['Att_rate'] = hr_clean['Attrition'].map({'Yes': 1, 'No': 0})

In [37]:
# Define the age range categories
age_bins = [18, 28, 38, 48, 58, 68]

# Define the labels for the age ranges
age_labels = ['18-28', '29-38', '39-48', '49-58', '59-68']

# Create the "Age Range" column
hr_clean['Age_range'] = pd.cut(hr_clean['Age'], bins=age_bins, labels=age_labels, right=False)

# Display the DataFrame to verify the new column
print(hr_clean[['Age', 'Age_range']])

      Age Age_range
0      41     39-48
1      49     49-58
2      37     29-38
3      33     29-38
4      27     18-28
...   ...       ...
1465   36     29-38
1466   39     39-48
1467   27     18-28
1468   49     49-58
1469   34     29-38

[1470 rows x 2 columns]

In [38]:
hr['DistanceFromHome'].unique()

array([ 1,  8,  2,  3, 24, 23, 27, 16, 15, 26, 19, 21,  5, 11,  9,  7,  6,
       10,  4, 25, 12, 18, 29, 22, 14, 20, 28, 17, 13], dtype=int64)

In [41]:
# Define the distance range categories and bins
distance_bins = [0, 9, 18, 27,34]
distance_labels = ['Very nearby', 'nearby', 'far', 'very far']

# Create the "Distance" column based on "DistanceFromHome"
hr_clean['Distance'] = pd.cut(hr_clean['DistanceFromHome'], bins=distance_bins, labels=distance_labels, right=False)

# Display the DataFrame to verify the new column
print(hr_clean[['DistanceFromHome', 'Distance']])

      DistanceFromHome     Distance
0                    1  Very nearby
1                    8  Very nearby
2                    2  Very nearby
3                    3  Very nearby
4                    2  Very nearby
...                ...          ...
1465                23          far
1466                 6  Very nearby
1467                 4  Very nearby
1468                 2  Very nearby
1469                 8  Very nearby

[1470 rows x 2 columns]

In [42]:
hr_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1470 non-null   int64
 1   Attrition                1470 non-null   object
 2   BusinessTravel           1470 non-null   object
 3   Department               1470 non-null   object
 4   DistanceFromHome         1470 non-null   int64
 5   Education                1470 non-null   int64
 6   EducationField           1470 non-null   object
 7   EmployeeCount            1470 non-null   int64
 8   EnvironmentSatisfaction  1470 non-null   int64
 9   Gender                   1470 non-null   object
 10  JobRole                  1470 non-null   object
 11  MaritalStatus            1470 non-null   object
 12  MonthlyIncome            1470 non-null   int64
 13  NumCompaniesWorked       1470 non-null   int64
 14  OverTime                 1470 non-null   object
 15  PercentSalaryHike        1470 non-null   int64
 16  TotalWorkingYears        1470 non-null   int64
 17  WorkLifeBalance          1470 non-null   int64
 18  YearsAtCompany           1470 non-null   int64
 19  YearsInCurrentRole       1470 non-null   int64
 20  YearsSinceLastPromotion  1470 non-null   int64
 21  YearsWithCurrManager     1470 non-null   int64
 22  Age_range                1470 non-null   category
 23  Distance                 1470 non-null   category
 24  Att_rate                 1470 non-null   int64
dtypes: category(2), int64(15), object(8)
memory usage: 267.5+ KB

In [43]:
# save dataset to a csv file
hr_clean.to_csv('hr_clean.csv', index=False)

In [44]:
hr_clean.to_excel('hr_clean.xlsx', index=False)